h1 {
    color: #000;   
}

h2 {
    color: #000;   
}

h3 {
    color: #000;   
}

h4 {
    color: #000;   
}

h5 {
    color: #000;   
}

h6 {
    color: #000;   
}

p {
    color: #000;
}

label {
    color: #000;
}

.white-text {
    color: #fff;
}